[submodule "xai_components/xai_pycaret"]
	path = xai_components/xai_pycaret
	url = https://github.com/XpressAI/xai-pycaret
[submodule "xai_components/xai_modelstash"]
	path = xai_components/xai_modelstash
	url = https://github.com/XpressAI/xai-modelstash
[submodule "xai_components/xai_rpa"]
	path = xai_components/xai_rpa
	url = https://github.com/yuenherny/xai-rpa
[submodule "xai_components/xai_streamlit"]
	path = xai_components/xai_streamlit
	url = https://github.com/XpressAI/xai-streamlit
[submodule "xai_components/xai_rabbitmq"]
	path = xai_components/xai_rabbitmq
	url = https://github.com/XpressAI/xai-rabbitmq
[submodule "xai_components/xai_mqtt"]
	path = xai_components/xai_mqtt
	url = https://github.com/XpressAI/xai-mqtt
[submodule "xai_components/xai_vecto"]
	path = xai_components/xai_vecto
	url = https://github.com/XpressAI/xai-vecto
[submodule "xai_components/xai_openai"]
	path = xai_components/xai_openai
	url = https://github.com/XpressAI/xai-openai
[submodule "xai_components/xai_gpt_agent_toolkit"]
	path = xai_components/xai_gpt_agent_toolkit
	url = https://github.com/XpressAI/xai-gpt-agent-toolkit
[submodule "xai_components/xai_slack"]
	path = xai_components/xai_slack
	url = https://github.com/XpressAI/xai-slack
[submodule "xai_components/xai_discord"]
	path = xai_components/xai_discord
	url = https://github.com/XpressAI/xai-discord
