[submodule "xai_components/xai_pycaret"]
	path = xai_components/xai_pycaret
	url = https://github.com/XpressAI/xai-pycaret
[submodule "xai_components/xai_modelstash"]
	path = xai_components/xai_modelstash
	url = https://github.com/XpressAI/xai-modelstash
[submodule "xai_components/xai_rpa"]
	path = xai_components/xai_rpa
	url = https://github.com/yuenherny/xai-rpa
[submodule "xai_components/xai_streamlit"]
	path = xai_components/xai_streamlit
	url = https://github.com/XpressAI/xai-streamlit
[submodule "xai_components/xai_rabbitmq"]
	path = xai_components/xai_rabbitmq
	url = https://github.com/XpressAI/xai-rabbitmq
[submodule "xai_components/xai_mqtt"]
	path = xai_components/xai_mqtt
	url = https://github.com/XpressAI/xai-mqtt
[submodule "xai_components/xai_vecto"]
	path = xai_components/xai_vecto
	url = https://github.com/XpressAI/xai-vecto
[submodule "xai_components/xai_openai"]
	path = xai_components/xai_openai
	url = https://github.com/XpressAI/xai-openai
[submodule "xai_components/xai_gpt_agent_toolkit"]
	path = xai_components/xai_gpt_agent_toolkit
	url = https://github.com/XpressAI/xai-gpt-agent-toolkit
[submodule "xai_components/xai_slack"]
	path = xai_components/xai_slack
	url = https://github.com/XpressAI/xai-slack
[submodule "xai_components/xai_discord"]
	path = xai_components/xai_discord
	url = https://github.com/XpressAI/xai-discord
[submodule "xai_components/xai_tests"]
	path = xai_components/xai_tests
	url = https://github.com/XpressAI/xai-tests
[submodule "xai_components/xai_anthropic"]
	path = xai_components/xai_anthropic
	url = https://github.com/XpressAI/xai-anthropic
[submodule "xai_components/xai_hfagent"]
	path = xai_components/xai_hfagent
	url = https://github.com/XpressAI/xai-hfagent
[submodule "xai_components/xai_flask"]
	path = xai_components/xai_flask
	url = https://github.com/XpressAI/xai-flask
[submodule "xai_components/xai_actors"]
	path = xai_components/xai_actors
	url = https://github.com/XpressAI/xai-actors
[submodule "xai_components/xai_sqlite"]
	path = xai_components/xai_sqlite
	url = https://github.com/XpressAI/xai-sqlite
[submodule "xai_components/xai_gdrive"]
	path = xai_components/xai_gdrive
	url = https://github.com/XpressAI/xai-gdrive
[submodule "xai_components/xai_gspread"]
	path = xai_components/xai_gspread
	url = https://github.com/XpressAI/xai-gspread
[submodule "xai_components/xai_vertexai"]
	path = xai_components/xai_vertexai
	url = https://github.com/XpressAI/xai-google-vertexai
[submodule "xai_components/xai_xgboost"]
	path = xai_components/xai_xgboost
	url = https://github.com/XpressAI/xai-xgboost
[submodule "xai_components/xai_spark"]
	path = xai_components/xai_spark
	url = https://github.com/XpressAI/xai-spark
[submodule "xai_components/xai_sklearn"]
	path = xai_components/xai_sklearn
	url = https://github.com/XpressAI/xai-sklearn
[submodule "xai_components/xai_tensorflow_keras"]
	path = xai_components/xai_tensorflow_keras
	url = https://github.com/XpressAI/xai-tensorflow-keras
[submodule "xai_components/xai_pytorch"]
	path = xai_components/xai_pytorch
	url = https://github.com/XpressAI/xai-pytorch
[submodule "xai_components/xai_agent"]
	path = xai_components/xai_agent
	url = https://github.com/XpressAI/xai-agent
[submodule "xai_components/xai_converse"]
	path = xai_components/xai_converse
	url = https://github.com/XpressAI/xai-converse
[submodule "xai_components/xai_stability_ai"]
	path = xai_components/xai_stability_ai
	url = https://github.com/XpressAI/xai-stability-ai
[submodule "xai_components/xai_google_gemini"]
	path = xai_components/xai_google_gemini
	url = https://github.com/XpressAI/xai-google-gemini
[submodule "xai_components/xai_mongodb"]
	path = xai_components/xai_mongodb
	url = https://github.com/XpressAI/xai-mongodb
[submodule "xai_components/xai_multion"]
	path = xai_components/xai_multion
	url = https://github.com/XpressAI/xai-multion
[submodule "xai_components/xai_gradio"]
	path = xai_components/xai_gradio
	url = https://github.com/XpressAI/xai-gradio
[submodule "xai_components/xai_ms_graph"]
	path = xai_components/xai_ms_graph
	url = https://github.com/XpressAI/xai-ms-graph
