[submodule "xai_components/xai_pycaret"]
	path = xai_components/xai_pycaret
	url = https://github.com/XpressAI/xai-pycaret
[submodule "xai_components/xai_modelstash"]
	path = xai_components/xai_modelstash
	url = https://github.com/XpressAI/xai-modelstash
[submodule "xai_components/xai_rpa"]
	path = xai_components/xai_rpa
	url = git@github.com:yuenherny/xai-rpa.git
[submodule "xai-rpa"]
	path = xai-rpa
	url = git@github.com:yuenherny/xai-rpa.git
