anyio
appnope
argon2-cffi
async-generator
attrs
Babel
backcall
bleach
certifi
cffi
chardet
click
colorama
debugpy
decorator
defusedxml
deprecation
entrypoints
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-core
jupyter-packaging
jupyter-server==1.15.4
jupyterlab
jupyterlab-pygments
jupyterlab-server
MarkupSafe
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
packaging
pandocfilters
parso
pickleshare
prometheus-client
prompt-toolkit
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
requests
requests-unixsocket
Send2Trash
six
sniffio
terminado
testpath
tomlkit
tornado
traitlets
typing-extensions
urllib3
wcwidth
webencodings
websocket-client
zipp
matplotlib
pygithub
tqdm
