anyio
appnope
argon2-cffi
async-generator
attrs
Babel
backcall
bleach
certifi
cffi
chardet
click
colorama
debugpy
decorator
defusedxml
deprecation
entrypoints
Flask
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-core
jupyter-packaging
jupyter-server==1.15.4
jupyterlab
jupyterlab-pygments
jupyterlab-server
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
onnx
onnx-tf
opencv-python
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
py4j.3
pycparser
Pygments
pyparsing
pyrsistent
pyspark
python-dateutil
pytz
pyzmq
requests
requests-unixsocket
scikit-learn
Send2Trash
six
sniffio
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-addons
tensorflow-io-gcs-filesystem
terminado
testpath
tomlkit
torch
torchaudio
torchvision
tornado
tqdm
traitlets
typeguard
typing-extensions
urllib3
wcwidth
webencodings
websocket-client
Werkzeug
zipp
pygithub
tqdm
