.description-text{
    text-align: justify;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 11px;
    white-space:pre-wrap;
}

.description-title{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
}