.jp-DebuggerWidget {
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
}

.jp-XpipeLogo {
  background-image: url(./icons/xpress-logo.svg);
  background-repeat: no-repeat;
}

.jp-DebuggerLogo {
  background-image: url(./icons/debugger.svg);
  background-repeat: no-repeat;
}

.jp-ComponentLibraryLogo {
  background-image: url(./icons/component-library.svg);
  background-repeat: no-repeat;
  background-size: 28px 28px;
}

.jp-NextLogo {
  background-image: url(./icons/next.svg);
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

.jp-BreakpointLogo {
  background-image: url(./icons/breakpoint.svg);
  background-repeat: no-repeat;
}

/* Close button for image viewer*/
.close {
  color: #fff;
  background-color: #999;
  position: absolute;
  top: -22px;
  right: -17px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #333;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}