.jp-DebuggerWidget {
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
}

.jp-XpipeLogo {
  background-image: url(./icons/xpress-logo.svg);
  background-repeat: no-repeat;
}

.jp-DebuggerLogo {
  background-image: url(./icons/debugger.svg);
  background-repeat: no-repeat;
}

.jp-ComponentLibraryLogo {
  background-image: url(./icons/component-library.svg);
  background-repeat: no-repeat;
}